@model MissionFile
@{
    ViewData["Title"] = "CreateOurMissionFile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Our Mission File</h4>

                    <form asp-area="admin" asp-controller="aboutpage" asp-action="CreateOurMissionFile" method="post" class="forms-sample" enctype="multipart/form-data">
                        @*<div class="text-danger" asp-validation-summary="All"></div>*@
                        <div class="form-group">
                            <label asp-for="@Model.Link" for="link">Video Link</label>
                            <input asp-for="@Model.Link" type="text" class="form-control" id="link" placeholder="Video Link">
                            <span class="text-danger" asp-validation-for="@Model.Link"></span>
                        </div>
                        
                        <div class="form-group">
                            <div class="mb-3">
                                <label asp-for="@Model.ImageFile" for="formFile" class="form-label">Image</label>
                                <input asp-for="@Model.ImageFile" class="form-control" type="file" id="formFile">
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.ImageFile"></span>
                        </div>



                        <button type="submit" class="btn btn-success mr-2">Create</button>
                        <button asp-area="admin" asp-controller="aboutpage" asp-action="OurMission" class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


