@model Social
@{
    ViewData["Title"] = "UpdateSocial";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update Social</h4>

                    <form asp-area="admin" asp-controller="layout" asp-action="UpdateSocial" method="post" class="forms-sample">
                        @*<div class="text-danger" asp-validation-summary="All"></div>*@
                        <div class="form-group">
                            <label asp-for="@Model.Icon" for="icon">Icon</label>
                            <input asp-for="@Model.Icon" class="form-control" id="icon" placeholder="Icon">
                            <span class="text-danger" asp-validation-for="@Model.Icon"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Link" for="link">Link</label>
                            <input asp-for="@Model.Link" type="text" class="form-control" id="link" placeholder="Link">
                            <span class="text-danger" asp-validation-for="@Model.Link"></span>
                            <input type="hidden" asp-for="@Model.Id" />
                        </div>


                        <button type="submit" class="btn btn-success mr-2">Update</button>
                        <button asp-area="admin" asp-controller="layout" asp-action="socials" class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


