@model Advertisement
@{
    ViewData["Title"] = "UpdateTrend";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update Trend</h4>

                    <form asp-area="admin" asp-controller="homepage" asp-action="updateTrend" method="post" class="forms-sample" enctype="multipart/form-data">
                        @*<div class="text-danger" asp-validation-summary="All"></div>*@
                        <div class="form-group">
                            <label asp-for="@Model.UpTitle" for="uptitle">Up Title</label>
                            <input asp-for="@Model.UpTitle" type="text" class="form-control" id="uptitle" placeholder="Up title">
                            <span class="text-danger" asp-validation-for="@Model.UpTitle"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Title" for="title">Title</label>
                            <input asp-for="@Model.Title" type="text" class="form-control" id="title" placeholder="Title">
                            <span class="text-danger" asp-validation-for="@Model.Title"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.DownTitle" for="downtitle">Down Title</label>
                            <input asp-for="@Model.DownTitle" type="text" class="form-control" id="downtitle" placeholder="Down Title">
                            <span class="text-danger" asp-validation-for="@Model.DownTitle"></span>
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label asp-for="@Model.ImageFile" for="formFile" class="form-label">Input File</label>
                                <input asp-for="@Model.ImageFile" class="form-control" type="file" id="formFile">
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.ImageFile"></span>
                            <img src="~/Uploads/Images/@Model.Image" height="100" alt="Image" />
                            <input type="hidden" asp-for="@Model.Id" />
                            <input type="hidden" asp-for="@Model.Image" />
                        </div>



                        <button type="submit" class="btn btn-success mr-2">Update</button>
                        <button asp-area="admin" asp-controller="homepage" asp-action="Trend" class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


