@model ProductFeature
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Feature</h4>

                    <form asp-area="admin" asp-controller="product" asp-action="CreateFeature" method="post" class="forms-sample">
                        @*<div class="text-danger" asp-validation-summary="All"></div>*@
                        <div class="form-group">
                            <label asp-for="@Model.Name" for="name">Product Feature</label>
                            <input asp-for="@Model.Name" type="text" class="form-control" id="name" placeholder="Feature">
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>

                            <input type="hidden" asp-for="@Model.ProductId" value="@(ViewBag.ProductId)" />
                        </div>

                        <button type="submit" class="btn btn-success mr-2">Create</button>
                        <button asp-area="admin" asp-controller="product" asp-action="Infos" class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


